<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>添加用户</title>
</head>
<body>
	<!-- 引入头部信息 在fragments/header页面中的header片段 -->
	<div th:replace="fragments/header :: header"></div>

	<form action="showAllUsers" method="post">
		用户名称：<input type="text" name="userName"/>
		用户密码：<input type="password" name="password"/>
		用户电话：<input type="text" name="phone"/>
		创建时间：<input type="text" name="createTime"/>
		价格：<input type="text" name="price"/>
		<button type="submit">提交</button> 
	</form>
	<!-- 引入底部信息 在fragments/header页面中的header片段 -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html> 